
@{
    ViewBag.Title = "Successful Registration";
}

<h2>Successful Registration</h2>

<p class="text-center h3 text-primary">Congratulations, now you are registered, you may use your account data to @Html.ActionLink("sign in", "Login", "Account")</p>

