@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <hr />
    <div>
        <a href="https://github.com/StruninIhor/SimpleForum/" class="btn-link" title="GitHub page"><img src="~/Content/custom.images/githubLogo.png" style="width: 60px; height: auto;" /><br />GitHub page</a><br />
    </div>
    <hr />
    <div>
        Contact us by email: <a href="mailto:testproject2018email@gmail.com">testproject2018[at]gmail.com</a>
    </div>
</p>