@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>MVC Forum</h1>
    <p class="lead">Some interesting info, according to the statistics</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our forums</h2>
        <p>
            Here will be most popular forums...
        </p>
        <p>@Html.ActionLink("Go to forums ", "Forum", "Forum", null, new { @class="btn btn-default"})</p>
    </div>
    <div class="col-md-4">
        <h2>Most popular users</h2>
        <p>THere will be popular users according to the rating</p>
        <p><a class="btn btn-default" href="#">All users &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Popular articles</h2>
        <p>We suppose, you may guess what will be here...</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>