@model Web.Models.Article.DeleteArticleViewModel

@{
    ViewBag.Title = "Delete article";
}

<h2>Are you sure you want to delete this article?</h2>
<div class="row">
    @Html.LabelFor(m => m.Name)
    @Html.DisplayNameFor(m => m.Name)
</div>

@using (Html.BeginForm("Delete", "Article", FormMethod.Post))
{
    <div class="text-center">
        @Html.HiddenFor(m => m.Id)
        @Html.ActionLink("No", "Index", null, new { @class = "btn btn-default" })
        <input type="submit" value="Yes" class="btn btn-default" />
    </div>
}
